* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-header {
  width: 100%;
  background-color: #f8f9fa;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
}

/* ડાબી બાજુ */
.logo {
  font-size: 18px;
  font-weight: bold;
}

/* વચ્ચે */
.nav-center {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-link:hover {
  color: #0d6efd;
}

.nav-link.active {
  color: #0d6efd;
  border-bottom: 2px solid #0d6efd;
  padding-bottom: 4px;
}

/* Day 2 નો button */
.btn-primary {
  padding: 10px 18px;
  background-color: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #084298;
}
