body {
  font-family: Arial, sans-serif;
  background-color: blue;
  padding: 20px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}
.btn {
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

.btn-primary {
  background-color: var(--blue);
  color: var(--white);
}

.btn-outline {
  background: blue;
  border: 2px solid var(--blue);
  color: var(--blue);
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  transform: scale(0.95);
}

.btn:disabled {
  background: var(--gray);
  cursor: not-allowed;
  opacity: 0.6;
}
