body {
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 20px;
}

/* Button common style */
.btn {
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin: 5px;
}

/* Blue button */
.btn-primary {
  background-color: blue;
  color: white;
}

/* Outline button */
.btn-outline {
  background: transparent;
  border: 2px solid blue;
  color: blue;
}

/* Hover */
.btn:hover {
  opacity: 0.8;
}

/* Click */
.btn:active {
  transform: scale(0.95);
}

/* Disabled */
.btn:disabled {
  background: gray;
  cursor: not-allowed;
}
